# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Build/
Builds/
Logs/

# ===================================== #
# Visual Studio / Rider / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vs/
/*.userprefs
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userosscache
/*.booproj
/*.pidb
/*.svclog
/*.sln.ide/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# User specific #
# ============ #
/[Ll]ocal[Ss]ettings/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# ========== #
# Asset meta #
# ========== #
Asset.meta
*.bak

Assets/Models/Retro Cartoon Car Cicada
ML-Agents